### Title of the notebook

#### inroduction part where you put the introduction for this jupiter notebook
...
...

#### Data science languages
- Python
- R
- SQL
- Julia
- Scala
- MATLAB
- SAS
- perl
- JAVA

#### Data science libraries
- pandas
- numpy
- scikit-learn
- tensorflow
- seaborn
- statsmodels
- NLTK
- keras
- Gensim

#### Data sciece tools table

| || Data sciece                 |
|-||-----------------------------|
|1||Jupyter Notebook / JupyterLab|
|2||RStudio                      |
|3||PyCharm                      |
|4||Tableau                      |
|5||KNIME                        |
|6||Hadoop                       |
|7||IBM Watson Studio            |
|8||Google Colab                 |

#### Arithmetic expression examples

- addition       = 3 + 5
- Subtraction    = 3 - 5
- Multiplication = 5 * 4
- Division       = 2 / 9
- Exponentiation = 2 ** 3

In [1]:
# multiply and add numbers
result_1 = 2 + 3
result_2 = 2 * 3
result_3 = (2 + result_2) * result_1

In [2]:
# convert minutes to hours
# Input: Number of minutes
minutes = 150

# Convert minutes to hours
hours = minutes / 60

print(f"{minutes} minutes is equal to {hours} hours")

150 minutes is equal to 2.5 hours

#### list of objectives
1. target 1
2. target 2
3. target 3
4. target 4

#### Athors name
##### full name